{% extends 'tickets/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-body">
                        <h5 class="card-title">Смена пароля</h5>
                        <form class="row" {# action="{% url 'add_match' %}" #} method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% if form.non_field_errors  %}
                                <div class="alert alert-primary alert-dismissible fade show" role="alert">
                                    {{ form.non_field_errors }}
                                </div>
                            {% endif %}
                            {% for field in form %}


                                <div class="row mb-3">
                                    {% for error in field.errors %}
                                    <div class="col-12 alert alert-danger alert-dismissible fade show" role="alert">{{ error }}</div>
                                {% endfor %}
                                    <label for="{{ field.id_for_label }}" class="col-md-6 col-lg-5 col-form-label">{{field.label}}</label>
                                    <div class="col-md-6 col-lg-7">
                                        {% if field|widget_type == 'select' %}
                                            {{ field|add_class:"form-select" }}
                                        {% elif field|widget_type == 'checkboxinput' %}
                                            {{ field|add_class:"form-check-input" }}
                                        {% else %}
                                            {{ field|add_class:"form-control" }}
                                        {% endif %}
                                    </div>
                                    </div>
                            {% endfor %}
                            <div class="col-12">
                                <button class="btn btn-cust" type="submit">Изменить пароль</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}